In [1]:
import requests
import json
import pandas as pd
import numpy as np

In [65]:
my_key ='afc5d9062964db8bffb7ec2406e5c679'
data_list = []
key_list = ['rank','rankOldAndNew','movieCd','movieNm','salesAmt','audiCnt','scrnCnt','showCnt']
item_list = []
movie_list = []

In [66]:
date_list = []
for single_date in pd.date_range('20170101','20171231'):
    targetDt = single_date.strftime('%Y%m%d')
    url = 'http://www.kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json?key='+my_key+'&targetDt='+targetDt
    response = requests.get(url)
    data_list.append(json.loads(response.text))
    date_list.append(targetDt)

In [67]:
for data in data_list:
    item_list.append(data['boxOfficeResult']['dailyBoxOfficeList'])

In [19]:
items[0]

{'rnum': '1',
 'rank': '1',
 'rankInten': '0',
 'rankOldAndNew': 'OLD',
 'movieCd': '20161725',
 'movieNm': '마스터',
 'openDt': '2016-12-21',
 'salesAmt': '4399793100',
 'salesShare': '46.3',
 'salesInten': '-183705150',
 'salesChange': '-4',
 'salesAcc': '44184434165',
 'audiCnt': '506299',
 'audiInten': '-31485',
 'audiChange': '-5.9',
 'audiAcc': '5441619',
 'scrnCnt': '1245',
 'showCnt': '5721'}

In [68]:
for single_date in pd.date_range('20170101','20171231'):
    my_date = single_date.strftime('%Y%m%d')
    date_list.append(my_date)

In [55]:
len(item_list)

365

In [88]:
index = 0
for items in item_list:
    for item in items:
        temp_list = []
        for key in key_list:
            # print(key,' : ',item[key])
            temp_list.append(item[key])
        temp_list.append(date_list[index])
        movie_list.append(temp_list)
    index += 1

In [89]:
key_list.append('targetDate')

In [87]:
key_list = ['rank','rankOldAndNew','movieCd','movieNm','salesAmt','audiCnt','scrnCnt','showCnt']

In [86]:
movie_list = []

In [91]:
df = pd.DataFrame(movie_list, columns=key_list)
df

,rank,rankOldAndNew,movieCd,movieNm,salesAmt,audiCnt,scrnCnt,showCnt,targetDate
0,1,OLD,20161725,마스터,4399793100,506299,1245,5721,20170101
1,2,OLD,20163183,로그 원: 스타워즈 스토리,1612424700,173451,810,3335,20170101
2,3,OLD,20162025,씽,943975500,115152,721,1755,20170101
3,4,OLD,20144641,판도라,736891900,87966,576,1476,20170101
4,5,OLD,20167904,라라랜드,770889600,87529,590,1578,20170101
...,...,...,...,...,...,...,...,...,...
3645,6,OLD,20176082,몬스터 패밀리,201204400,26393,350,479,20171231
3646,7,OLD,20176947,원더,171061300,20934,178,415,20171231
3647,8,OLD,20174846,뽀로로 극장판 공룡섬 대모험,109147200,13753,208,288,20171231
3648,9,OLD,20177479,극장판 프리파라 모두의 동경♪ 렛츠고☆프리파리,52851100,6633,183,291,20171231
3649,10,OLD,20170443,스타워즈: 라스트 제다이,39255300,3655,35,44,20171231

In [ ]:
df