# day07_01_pandas
- 판다스 복습 및 기본 사용 방법

In [1]:
import pandas as pd
import numpy as np

#### Series 만들기 - pandas의 2가지 데이터 구조 중 하나로 하나의 열을 나타낸다.

In [2]:
pd.Series(['San Francisco', 'San Jose', 'Sacramento'])

0    San Francisco
1         San Jose
2       Sacramento
dtype: object

In [24]:
city_names = pd.Series(['San Francisco', 'San Jose', 'Sacramento'])
population = pd.Series([850000, 1010000, 480000])

#### DataFrame은 pandas의 2가지 데이터 구조 중 하나로 열과 행으로 이루어진 구조

In [25]:
df_cities = pd.DataFrame({'city_names':city_names, 'population':population})

In [13]:
# 실습하기
# city_name San Jose의 데이터를 조회하기
# ex) San Jose 1010000
# df_cities.loc[1,:]
df_cities.iloc[1,:]

city_names    San Jose
population     1010000
Name: 1, dtype: object

In [14]:
# 데이터의 조작
population / 1000

0     850.0
1    1010.0
2     480.0
dtype: float64

In [16]:
# population이 (인구수가) 100만 명을 초과하는지를 나타내는 새 Series를 만들기
population.apply(lambda val:val > 1000000)

0    False
1     True
2    False
dtype: bool

In [26]:
df_cities['is_big'] = population > 1000000

In [20]:
df_cities

      city_names  population  is_big
0  San Francisco      850000   False
1       San Jose     1010000    True
2     Sacramento      480000   False

In [27]:
# 데이터 프레임 수정하기
df_cities['area square miles'] = pd.Series([46.87,176.53,97.92])

In [28]:
df_cities

      city_names  population  is_big  area square miles
0  San Francisco      850000   False              46.87
1       San Jose     1010000    True             176.53
2     Sacramento      480000   False              97.92

#### 실습하기
##### 다음 두 명제 모두 True인 경우에만 True인 새 논리열을 추가하여 도시 테이블을 수정하라
- 도시 이름은 성인의 이름을 본따서 지었다.
- 도시 면적(area square miles)이 50마일보다 넓다.
- 참고) 스페인어에서 성인은 San이다.

In [51]:
first_bool =df_cities.loc[:,'city_names'].apply(lambda name: name.startswith('San'))
second_bool = df_cities['area square miles'] > 50

In [52]:
df_cities['new_bool'] = first_bool&second_bool

In [53]:
df_cities

      city_names  population  is_big  area square miles  new_bool
0  San Francisco      850000   False              46.87     False
1       San Jose     1010000    True             176.53      True
2     Sacramento      480000   False              97.92     False