### 협업필터링(Collaborative filtering)
- Popularity, High Rated Based
- 가장 쉬운 기법으로 전통적으로 많이 쓰였고, 현재도 많이 쓰임
- 가장 높은 평점(혹은 기타데이터)을 갖는 item(content)를 추천함
- 대상(=target)에게 모두 동일한 item을 추천함

In [1]:
import pandas as pd
import numpy as np

In [6]:
# 데이터 불러오기
url = 'https://raw.githubusercontent.com/luxdolorosa/data_set/master/movie/ratings_UTF8.csv'
ratings = pd.read_csv(url, encoding='utf-8', sep='\t')

In [7]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 4 columns):
no        34 non-null int64
name      34 non-null object
title     34 non-null object
rating    34 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 1.2+ KB

In [8]:
# 데이터 요약정보
ratings.describe()

              no     rating
count  34.000000  34.000000
mean   17.500000   3.397059
std     9.958246   1.005887
min     1.000000   2.000000
25%     9.250000   2.500000
50%    17.500000   3.500000
75%    25.750000   4.000000
max    34.000000   5.000000

In [11]:
# 실습하기
# 각 영화별 평점 정보 구하기
df = ratings.groupby('title').sum()

In [13]:
# 데이터 프레임에서 가장 높은 값 1개 가져오기
df.loc[df.rating == df['rating'].max()]

       no  rating
title
신과함께   70    24.0

In [ ]:
# 가장 간단하게 구현 가능한 추천 시스템.
# 평점이 가장 높은 n개의 아이템을 추천하는 방식