## day05_01_data_type
+ 데이터 타입예제

In [1]:
# #은 주석을 뜻한다.
print('hello')

hello

In [2]:
print('hello1')
print('hello2')

hello1
hello2

# 데이터 타입


## 숫자형

In [5]:
# 정수형
a = 123
b = -123
print(a)
print(b)
print(a+b)

123
-123
0

In [8]:
# 실수형 
c = 123.123
d = 100.100
print(c)
print(d)

# 123.123 - 100.100
# - 정확하게 계산할 수 없는 부분에 대해서는 0.00000001이 붙는다.
print(c-d)

123.123
100.1
23.02300000000001

In [10]:
123.123 == 123.123

True

### 문자형

In [12]:
# 문자형을 만드는 방법
print('문자형 만드는 법1 - 작은 따옴표')
print('문자형 만드는 법1 - 큰 따옴표')

# 가독성 좋게 만드는 방법
a = '''
이렇게 하면 가독성 좋게
만들어지며, 여러 줄 입력이
가능하다.
'''

print(a)

문자형 만드는 법1 - 작은 따옴표
문자형 만드는 법1 - 큰 따옴표

이렇게 하면 가독성 좋게
만들어지며, 여러 줄 입력이
가능하다.

# 파이썬은 문자형이 존재하지 않는다.
+ 문자열만 존재한다.

In [1]:
a = 'hello world'
print(a)
print(a[0]) # h
print(a[6]) # w
print(a[0:6]) # 0번째 방부터 6번째 방 전까지

hello world
h
w
hello

In [16]:
# 7번째 방부터 끝까지
print(a[7:])

orld

In [2]:
# 실습하기. w를 W로 변경하기
# 단, 수정이라는 개념이 아니라, 조합을 해서 변경하기
# ex) hello World

a[:5]+" "+chr(ord(a[6])-32)+a[7:]

'hello World'

In [6]:
a = 'hello'
b = 'korea'
print(a,b)

hello korea

### 리스트
- 여러가지 데이터형을 동시에 가지고 있는 구조

In [9]:
# 만드는 방법
a = [1,2,3]
# - 실습하기. a에서 2를 출력하기
a[1]

2

In [14]:
b = ['a','b','c']
# b라는 변수의 데이터 타입을 검사
print(type(b)) 
# 실습하기
# b 변수에서 'b'를 출력
print(b[1])

<class 'list'>
b

In [27]:
c = a+b
# 실습하기
# c변수에서 값을 기준으로 2부터 b까지 출력
print(c[1:5])

[2, 3, 'a', 'b']

# 리스트 값 수정하기
- 리스트는 값의 수정이 가능하다.
- 파이썬은 배열형이 존재하지 않는다.

In [28]:
# c변수의 2번째 방의 값 3을 5로 변경하기
c[2] = 5
c

[1, 2, 5, 'a', 'b', 'c']

In [35]:
# c변수의 2번째 방의 값 2를 8,9로 변경하기
c[2:3] = [8,9]

In [31]:
# c변수의 1번째 방의 값 2를 [8,9]로 변경하기
c[1] = [8,9]

In [36]:
c

[1, [8, 9], 8, 9, 'a', 'b', 'c']

## 딕셔너리
- json 형태와 유사
- java의 map형태와 유사
### key와 value로 이루어진 데이터 타입

In [48]:
# 딕셔너리 자료형 만들기
a = {'baseball':'야구', 'name':'korea',1:100, 'job':[1,2,3]}
print(a)
print(a.get('baseball'))

# 고유 key로 []조회가 가능하다.
print(a['name'])  
print(a[1])

# 딕셔너리는 정렬이 되어있지 않으며, 순서가 없다.
# 그렇기에 인덱스로 접근할 수 없다.
# 만약 키값으로 1이 지정되지 않았다면
# print(a[1]) -> 오류난다.

# 실습하기
# a변수에서 job을 조회해서 값 3을 출력하라
print(a['job'][2])

{'baseball': '야구', 'name': 'korea', 1: 100, 'job': [1, 2, 3]}
야구
korea
100
3

In [52]:
# 딕셔너리 값 추가하기
a['python'] = 'python123'
a

{'baseball': '야구',
 'name': 'korea',
 1: 100,
 'job': [1, 2, 3],
 'python': 'python123'}

In [53]:
# 딕셔너리 값 삭제하기
del a['python']
a

{'baseball': '야구', 'name': 'korea', 1: 100, 'job': [1, 2, 3]}